doctype html 
html
    head 
        meta(charset="utf-8")
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="author" content="")

        //- Style
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet")
        link(href="/serenity/assets/css/bootstrap.css" rel="stylesheet")
        link(href="/serenity/assets/css/bootstrap-responsive.css" rel="stylesheet")
        link(href="/serenity/assets/css/docs.css" rel="stylesheet")
        link(href="/serenity/assets/css/prettyPhoto.css" rel="stylesheet")
        link(href="/serenity/assets/js/google-code-prettify/prettify.css" rel="stylesheet")
        link(href="/serenity/assets/css/flexslider.css" rel="stylesheet")
        link(href="/serenity/assets/css/sequence.css" rel="stylesheet")
        link(href="/serenity/assets/css/style.css" rel="stylesheet")
        link(href="/serenity/assets/color/default.css" rel="stylesheet")

        //- fav and touch icons
        link(rel="shortcut icon" href="/serenity/assets/ico/favicon.ico")
        link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/serenity/assets/ico/apple-touch-icon-144-precomposed.png")
        link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/serenity/assets/ico/apple-touch-icon-114-precomposed.png")
        link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/serenity/assets/ico/apple-touch-icon-72-precomposed.png")
        link(rel="apple-touch-icon-precomposed" href="/serenity/assets/ico/apple-touch-icon-57-precomposed.png")
      

    body    

        header
            include front-web/_header.pug

        
        
        block content

        

        footer.footer
            .container
                .row
                    .span4
                        .widget
                            h5 Browse pages
                            ul.regular
                                li
                                    a(href='#') Work for us
                                li
                                    a(href='#') Creative process
                                li
                                    a(href='#') Case study
                                li
                                    a(href='#') Scaffold awwards
                                li
                                    a(href='#') Meet the team
                    .span4
                        .widget
                            h5 Recent blog posts
                            ul.regular
                                li
                                    a(href='#') Lorem ipsum dolor sit amet
                                li
                                    a(href='#') Mea malis nominavi insolens ut
                                li
                                    a(href='#') Minim timeam has no aperiri sanctus ei mea per pertinax
                                li
                                    a(href='#') Te malorum dignissim eos quod sensibus
                    .span4
                        .widget
                            // logo
                            a.brand.logo(href='#')
                                img(src='/serenity/assets/img/hospicefusion.png', alt='')
                            // end logo
                            address
                                strong Registered Companyname, Inc.
                                br
                                | 							 8895 Somename Ave, Suite 600
                                br
                                | 							 San Francisco, CA 94107
                                br
                                abbr(title='Phone') PHONE:
                                |  (123) 456-7890
            .verybottom
                .container
                    .row
                        .span6
                            p
                                | © Hospice Fusion - All right reserved
                        .span6
                            .credits
                                //
                                    All the links in the footer should remain intact.
                                    You can delete the links only if you purchased the pro version.
                                    Licensing information: https://bootstrapmade.com/license/
                                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
                                | Designed by 
                                a(href='https://bootstrapmade.com/') BootstrapMade


        //- JavaScript Library Files 
        script(src="/serenity/assets/js/jquery.min.js")
        script(src="/serenity/assets/js/jquery.easing.js")
        script(src="/serenity/assets/js/google-code-prettify/prettify.js")
        script(src="/serenity/assets/js/modernizr.js")
        script(src="/serenity/assets/js/bootstrap.js")
        script(src="/serenity/assets/js/jquery.elastislide.js")
        script(src="/serenity/assets/js/sequence/sequence.jquery-min.js")
        script(src="/serenity/assets/js/sequence/setting.js")
        script(src="/serenity/assets/js/jquery.prettyPhoto.js")
        script(src="/serenity/assets/js/application.js")
        script(src="/serenity/assets/js/jquery.flexslider.js")
        script(src="/serenity/assets/js/hover/jquery-hover-effect.js")
        script(src="/serenity/assets/js/hover/setting.js")

        //- Template Custom JavaScript File 
        script(src="/serenity/assets/js/custom.js")
