doctype html 
html(lang="en", dir="ltr")
    head    
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        
        link(rel="icon" href="/system/assets/images/brand/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" type="image/x-icon" href="/system/assets/images/brand/favicon.ico")
        title=title 

        //- Bootstrap
        link(rel="stylesheet" href="/system/assets/plugins/bootstrap/css/bootstrap.min.css")

        //- Dashboard
        link(href="/system/assets/css/style.css" rel="stylesheet")
        //- Custom Scroll bar css
        link(href="/system/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet")
        
        //- Horizontal-menu css
        link(href="/system/assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet")
        link(href="/system/assets/plugins/horizontal-menu/horizontalmenu.css" rel="stylesheet")

        //- Sidemenu css 
        link(href="/system/assets/plugins/toggle-sidebar/full-sidemenu.css" rel="stylesheet")

        //- Daterangepicker css
        link(href="/system/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet")
        //- Rightsidebar css
        link(href="/system/assets/plugins/sidebar/sidebar.css" rel="stylesheet")
        //- Sidebar Accordion css
        link(href="/system/assets/plugins/accordion1/css/easy-responsive-tabs.css" rel="stylesheet")
        //- Owl theme css
        link(href="/system/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet")

        //- Font icons css 
        link(href="/system/assets/plugins/iconfonts/plugin.css" rel="stylesheet")
        link(href="/system/assets/plugins/iconfonts/icons.css" rel="stylesheet")
        link(href="/system/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet")
        
        //- Sweet Alert
        link(href="/system/assets/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet")
        link(href="/system/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet")

        //- Select2 
        link(href="/system/assets/plugins/select2/select2.min.css" rel="stylesheet")
        
        //- Time Picker
        link(href="/system/assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet")
        
        //- Date Picker
        link(href="/system/assets/plugins/date-picker/spectrum.css" rel="stylesheet")
        
        //-  File Uploads css
        link(href="/system/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css")
        
        //- Multiple Select
        link(href="/system/assets/plugins/multipleselect/multiple-select.css" rel="stylesheet")
        
        //- Time Entry
        link(href="/jquery.timeentry/jquery.timeentry.css" rel="stylesheet" type="text/css" )
        
        
        //- Fusion Style
        link(rel="stylesheet", href="/stylesheets/hfusion.css")

    body.app.sidebar-mini.rtl

        
        .page 
            .page-main

                //- Nav Bar Header
                include fusion-system/_header.pug

                //- Horizontal Menu
                if(!isPatient)
                    include fusion-system/_horizontal-menu.pug
                
                //- Sidebar Menu
                if(isPatient)
                    include fusion-system/_patient-menu.pug

                //- Header Submenu
                include fusion-system/_header-submenu.pug
                
                //- App Conent 
                //- For Full Width (.container.content-area)
                //- For Side bar (.app-content.my-3.my-md-5.toggle-content)

                //- If Not Patient Change The Container Style
                if(!isPatient)
                    .container.content-area
                        .side-app 
                            p
                            .row 
                                .col-md-12 
                                    block content
                                
                    //- Right-sidebar
                    include fusion-system/_right-sidebar.pug

                    
                //- If Not Patient Change The Container Style
                if(isPatient)
                    .app-content.my-3.my-md-5.toggle-content
                        .side-app 
                            p
                            .row
                                .col-md-12
                                    block content


                    //- Right-sidebar
                    include fusion-system/_right-sidebar.pug


                    footer.footer
                        .container
                            .row.align-items-center.flex-row-reverse
                                .col-lg-12.col-sm-12.text-center
                                    | Copyright © 2019 
                                    a(href='#') 
                                        | Hospicefusion
                               
            a#back-to-top(href='#top')
                i.fa.fa-angle-up


        //SAMPLE MODAL PANEL
        #painAssessmentModal.modal.fade(data-backdrop="static" data-keyboard="false")
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header.pd-x-20
                        h6.modal-title Pain Assessment
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body.pd-20
                        
                        .panel.panel-primary 
                            .tab-menu-heading 
                                .tabs-menu1 
                                    ul.nav.panel-tabs 
                                        li
                                            a(href="#mainPain", class="active", data-toggle="tab")
                                                | Pain Assessment
                                            a(href="#painLoc", data-toggle="tab")
                                                | Pain Loc/Descriptions 

                            .panel-body.tabs-menu-body 
                                .tab-content 
                                    //- MAIN PAIN==============================
                                    #mainPain.tab-pane.active
                                        h6.font-weight-bold OVERALL PAIN INTENSITY
                                        .row 
                                            .col-sm-8  
                                                | Level of pain reported at the time of assessment (> 0,will be reported as an active problem on HIS):
                                            .col-sm-4 
                                                select.ipt-sm  
                                                    option(value="") Select-->

                                        h6.font-weight-bold SIT SCORE
                                        .row 
                                            .col-sm-8 
                                                | Patient Self-Identified Threshold (SIT) - PCG can respond:
                                            .col-sm-4 
                                                select.ipt-sm     
                                                    option(value="") Select--> 

                                        h6.font-weight-bold ADDITIONAL SIGNS AND SYMPTOMS OF PAIN
                                        .row  
                                            .col-sm-12 
                                                input(type="checkbox") 
                                                |    Increased blood pressure 
                                                input(type="checkbox") 
                                                |    Increased pulse 
                                                input(type="checkbox") 
                                                |    Increased respiratory rate
                                                input(type="checkbox") 
                                                |    Guarding

                                            .col-sm-12 
                                                input(type="text" placeholder="Others: ").ipt-sm 
                                                
                                        h6.font-weight-bold Narrative
                                        textarea(name="", rows="5").ipt-sm 




                                    
                                    //- MAIN PAIN==============================
                                    #painLoc.tab-pane 
                                        .row 
                                            .col-sm-4 
                                                label(for="opendate") Open Date 
                                                input(type="text" name="opendate").fc-datepicker.ipt-sm
                                            .col-sm-4 
                                                label(for="location") Location 
                                                input(type="text" name="location").ipt-sm      
                                            .col-sm-4 
                                                label(for="intensity") Intensity 
                                                input(type="text" name="intensity").ipt-sm    
                                        .row 
                                            .col-sm-4 
                                                label(for="activity") Activity 
                                                input(type="text" name="activity").ipt-sm 
                                            .col-sm-4 
                                                label(for="frequency") Frequency 
                                                input(type="text" name="frequency").ipt-sm
                                            .col-sm-4 
                                                label(for="description") Description
                                                input(type="text" name="description").ipt-sm

                                        .row 
                                            .col-sm-6   
                                                label(for="duration") Duration 
                                                input(type="text" name="duration").ipt-sm     
                                                input(type="checkbox") 
                                                |   Unable to Assess
                                            .col-sm-6   
                                                label(for="qualitylife") Does pain affect quality of life?
                                                input(type="text" name="qualitylife").ipt-sm     
                                                input(type="checkbox")
                                                |   Unable to assess
                                        
                                        .row 
                                            .col-sm-4 
                                                label(for="better") What makes pain better?
                                                input(type="text" name="better").ipt-sm   
                                            .col-sm-4 
                                                label(for="worse") What makes pain worse?
                                                input(type="text" name="worse").ipt-sm     
                                            .col-sm-4 
                                                label(for="intervention") Type of Intervention
                                                input(type="text" name="intervention").ipt-sm      

                                        .row   
                                            .col-sm-4 
                                                label(for="working") How well it is working?
                                                input(type="text" name="working").ipt-sm      
                                            .col-sm-4 
                                                label(for="status") Status 
                                                input(type="text" name="status").ipt-sm
                                        
                             

                    .modal-footer
                        button.btn.btn-primary(type='button') Save changes
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close



        //- Jquery
        script(src="/system/assets/js/vendors/jquery-3.2.1.min.js")
        //- Bootstrap
        script(src="/system/assets/plugins/bootstrap/popper.min.js")
        script(src="/system/assets/plugins/bootstrap/js/bootstrap.min.js")

        //- Jquery Sparkline
        script(src="/system/assets/js/vendors/jquery.sparkline.min.js")

        //- Star Rating js
        script(src="/system/assets/plugins/rating/jquery.rating-stars.js")
        //- Moment js
        script(src="/system/assets/plugins/moment/moment.min.js")
        //- Daterangepicker js
        script(src="/system/assets/plugins/bootstrap-daterangepicker/daterangepicker.js")
        
        //- Horizontal Menu
        script(src="/system/assets/plugins/horizontal-menu/horizontalmenu.js")
        
        //- Sidemenu
        script(src="/system/assets/plugins/toggle-sidebar/sidemenu.js")

        //- Sidebar Accrodion
        script(src="/system/assets/plugins/accordion1/js/easyResponsiveTabs.js")
        //- Custom Scroll bar js
        script(src="/system/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js")
        //- Owl Carousel js
        script(src="/system/assets/plugins/owl-carousel/owl.carousel.js")
        script(src="/system/assets/plugins/owl-carousel/owl-main.js")
        //- Rightsidebar js
        script(src="/system/assets/plugins/sidebar/sidebar.js")
        //- Charts js
        script(src="/system/assets/plugins/chart/chart.bundle.js")
        script(src="/system/assets/plugins/chart/utils.js")
        
        //- Time Counter js
        script(src="/system/assets/plugins/counters/jquery.missofis-countdown.js")
        script(src="/system/assets/plugins/counters/counter.js")

        //- Sweet Alert
        script(src="/system/assets/plugins/sweet-alert/jquery.sweet-modal.min.js")
        script(src="/system/assets/plugins/sweet-alert/sweetalert.min.js")

        //- Select2
        script(src="/system/assets/plugins/select2/select2.full.min.js")
        script(src="/system/assets/js/select2.js")

        //- Time Counter
        script(src="/system/assets/plugins/counters/jquery.missofis-countdown.js")
        script(src="/system/assets/plugins/counters/counter.js")

        //- Time Picker
        script(src="/system/assets/plugins/time-picker/jquery.timepicker.js")
        script(src="/system/assets/plugins/time-picker/toggles.min.js")

        //- Datepicker Js
        script(src="/system/assets/plugins/date-picker/spectrum.js")
        script(src="/system/assets/plugins/date-picker/jquery-ui.js")
        script(src="/system/assets/plugins/input-mask/jquery.maskedinput.js")

        //- File uploads js
        script(src="/system/assets/plugins/fileuploads/js/dropify.js")
        script(src="/system/assets/plugins/fileuploads/js/dropify-demo.js")

        //- MultipleSelect Js
        script(src="/system/assets/plugins/multipleselect/multiple-select.js")
        script(src="/system/assets/plugins/multipleselect/multi-select.js")

        //- Time Entry
        script(src="/jquery.timeentry/jquery.plugin.min.js")
        script(src="/jquery.timeentry/jquery.timeentry.min.js")

        //- Jquery Form
        script(src="/jqueryForm/jquery.form.min.js")
        script(src="/javascripts/docusign/js_forms.js")
        //- Custom js
        script(src="/system/assets/js/custom.js")
        //- Master Js
        script(src="/javascripts/masterjs/master.js")

