h6
    strong Symptoms / Demeanor
.row 
    .col-sm-2
        .form-group
            label(for="nms_peaceful")
            input(type="checkbox" name="nms_peaceful") 
            | Peaceful

    .col-sm-2
        .form-group
            label(for="nms_anxious")
            input(type="checkbox" name="nms_anxious") 
            | Anxious       

    .col-sm-2
        .form-group
            label(for="nms_confused")
            input(type="checkbox" name="nms_confused") 
            | Confused       
    .col-sm-2
        .form-group
            label(for="nms_angry")
            input(type="checkbox" name="nms_angry") 
            | Angry         
    .col-sm-2
        .form-group
            label(for="nms_restless")
            input(type="checkbox" name="nms_restless") 
            | Restless         
    .col-sm-2
        .form-group
            label(for="nms_agitated")
            input(type="checkbox" name="nms_agitated") 
            | Agitated         
    .col-sm-2
        .form-group
            label(for="nms_depressed")
            input(type="checkbox" name="nms_depressed") 
            | Depressed         

    .col-sm-2
        .form-group
            label(for="nms_seizure")
            input(type="checkbox" name="nms_seizure") 
            | Seizure

    .col-sm-2
        .form-group
            label(for="nms_combative")
            input(type="checkbox" name="nms_combative") 
            | Combative       


    .col-sm-2
        .form-group
            label(for="nms_sundowning")
            input(type="checkbox" name="nms_sundowning") 
            | Sundowning       

    .col-sm-4
        .form-group
            label(for="nms_tremors")
            input(type="checkbox" name="nms_tremors") 
            | Tremors / Twitching

    .col-sm-12  
        .form-group 
            label(for="nms_others")
            input(type="text" placeholder="Others: " name="nms_others").ipt-sm 


h6
    strong Level of Consciousness

.row 
    .col-sm-2 
        .form-group 
            label(for="nms_awake")
            input(type="checkbox" name="nms_awake")
            | Awake
    .col-sm-2 
        .form-group 
            label(for="nms_awake")
            input(type="checkbox" name="nms_awake")
            | Alert       
    .col-sm-2 
        .form-group 
            label(for="nms_awake")
            input(type="checkbox" name="nms_awake")
            | Lethargic       
    .col-sm-3 
        .form-group 
            label(for="nms_awake")
            input(type="checkbox" name="nms_awake")
            | Minimally responsive
    .col-sm-2 
        .form-group 
            label(for="nms_awake")
            input(type="checkbox" name="nms_awake")
            | Coma       

h6 
    strong Oriented to 

.row 
    .col-sm-2 
        .form-group
            label(for="nms_time")
            input(type="checkbox" name="nms_time")
            | Time
    .col-sm-2 
        .form-group
            label(for="nms_place")
            input(type="checkbox" name="nms_place")
            | Place
    .col-sm-2 
        .form-group
            label(for="nms_person")
            input(type="checkbox" name="nms_person")
            | Person 
    .col-sm-2 
        .form-group
            label(for="nms_disoriented")
            input(type="checkbox" name="nms_disoriented")
            | Disoriented


h6  
    strong Psych Hx

.row 
    .col-sm-2 
        .form-group 
            label(for="nms_none")
            input(type="checkbox" name="nms_none")
            | None

    .col-sm-2 
        .form-group     
            label(for="nms_bipolar")
            input(type="checkbox" name="nms_bipolar")
            | Bipolar 
    .col-sm-2 
        .form-group 
            label(for="ocd")
            input(type="checkbox" name="nms_ocd")
            | OCD 
    .col-sm-2 
        .form-group 
            label(for="nms_schizophrenia")
            input(type="checkbox" name="nms_schizophrenia")
            | Schizophrenia       
    .col-sm-2 
        .form-group 
            label(for="nms_depression")
            input(type="checkbox" name="nms_depression")
            | Depression 

h6 
    strong Communication / Voice / Speech

.row    
    .col-sm-2 
        .form-group 
            label(for="nms_normal")
            input(type="checkbox" name="nms_normal")
            | Normal 
    .col-sm-2 
        .form-group 
            label(for="nms_aphasia")
            input(type="checkbox" name="nms_aphasia")
            | Aphasia
    .col-sm-2 
        .form-group
            label(for="nms_slurred")
            input(type="checkbox" name="nms_slurred_speech")
            | Slurred Speech

    .col-sm-12
        .form-group
            label(for="nms_others1")
            input(type="text" name="nms_others1" placeholder="Others: ").ipt-sm

h6  
    strong Speech limited < 6 Intelligible words;

.row 
    .col-sm-2 
        label(for="nms_speechlimit")
        select(name="nms_speechlimit")
            option(value="") Select-->
            option(value="yes") Yes 
            option(value="no") No

h6 
    strong Sensory Deficits 

.row 
    .col-sm-2 
        .form-group 
            label(for="nms_blind")
            input(type="checkbox", name="nms_blind") 
            | Blind 
    .col-sm-2 
        .form-group 
            label(for="nms_deaf")
            input(type="checkbox", name="nms_deaf") 
            | Hard of hearing(Deaf) 

h6 
    strong Sensory Aids

.row    
    .col-sm-2 
        .form-group 
            label(for="nms_glasses")
            input(type="checkbox", name="nms_glasses")
            | Glasses 

    .col-sm-2 
        .form-group 
            label(for="nms_hearingaids")
            input(type="checkbox", name="nms_hearingaids")
            | Hearing Aids 
    .col-sm-12
        label(for="nms_others2")
        input(type="text", name="nms_others2", placeholder="Others: ").ipt-sm 

h6 
    strong Balance

.row 
    .col-sm-2 
        .form-group 
            label(for="nms_bnormal")
            input(type="checkbox", name="nms_bnormal")
            | Normal 
    .col-sm-2 
        .form-group 
            label(for="nms_impaired")
            input(type="checkbox", name="nms_impaired") 
            | Impaired

    .col-sm-12 
        .form-group 
            label(for="nms_otherobservation") Other Observation if available
            input(type="text", name="nms_otherobservation", placeholder="Others: ").ipt-sm
