
.ipt-sm{
    font-size: 12px;
    padding: 6px 15px !important;
    line-height: 16px;   
    width: 100%;
    border: solid 0.5px gray;
    border-radius: 2px;
}
.select2{
    background: rgba(255, 255, 255, 0.8);
}


/* ASSESSMENT BUTTON FLOAT RIGHT */

.right-button-container{
    /* border: solid 1px black; */
    position: fixed;
    padding: 2px 5px 5px 5px;
    right: 0;
    top: 10%;
    z-index: 222;
}

/* Date Picker */
.fc-datepicker{
    z-index: 2600 !important;
}
