.bg-white.p-3.header-secondary.header-submenu
	.container
		//- .row
		//- 	.col
		//- 		.d-flex
		//- 			a.btn.btn-danger(href='#')
		//- 				i.fe.fe-rotate-cw.mr-1.mt-1
		//- 				|  Upgrade
		//- 	.col.col-auto
		//- 		a.btn.btn-light.mt-4.mt-sm-0(href='#')
		//- 			i.fe.fe-help-circle.mr-1.mt-1
		//- 			|   Support
		//- 		a.btn.btn-success.mt-4.mt-sm-0(href='#')
		//- 			i.fe.fe-plus.mr-1.mt-1
		//- 			|  Add New
