.app-sidebar__overlay(data-toggle='sidebar')
aside.app-sidebar.toggle-sidebar
    .app-sidebar__user.pb-0
        .user-body
            span.avatar.avatar-xxl.brround.text-center.cover-image(data-image-src=(patientinfo[0].img_path)?"/"+patientinfo[0].img_path : '/system/assets/images/photos/1.jpg')
        .user-info
            a.ml-2(href='/patient/'+patientinfo[0].patient_no)
                span.text-dark.app-sidebar__user-name.font-weight-semibold=patientinfo[0].patient_lastname+" "+patientinfo[0].patient_firstname+" "+patientinfo[0].patient_middlename
                br
                | GENDER: 
                span.app-sidebar__user-name.text-sm=patientinfo[0].patient_gender
                br 
                | DOB: 
                span.app-sidebar__user-name.text-sm=patientinfo[0].patient_dob
         
    .tab-menu-heading.siderbar-tabs.border-0.p-0
        .tabs-menu
            // Tabs
            ul.nav.panel-tabs
                li
                    a.active(href='#index1', data-toggle='tab')
                        i.fa.fa-home.fs-17
                li
                    a(href='#index2', data-toggle='tab')
                        i.fa.fa-envelope.fs-17
                li
                    a(href='#index3', data-toggle='tab')
                        i.fa.fa-user.fs-17
                li
                    a(href='#', title='/hfusion/logout')
                        i.fa.fa-power-off.fs-17
    .panel-body.tabs-menu-body.side-tab-body.p-0.border-0
        .tab-content
            #index1.tab-pane.active
                ul.side-menu.toggle-menu
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-device-desktop
                            span.side-menu__label Admission
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')
                                    span Consent
                            li
                                a.slide-item(href='#')
                                    span Staff Assignment
                            li
                                a.slide-item(href='#')
                                    span Chart Check List
                            
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-clipboard
                            span.side-menu__label Assessment
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='/patient/nursing-assessment/'+patientinfo[0].patient_no)  Nursing 
                            li
                                a.slide-item(href='/patient/psychosocial-assessment/'+patientinfo[0].patient_no)  Psychosocial
                            li
                                a.slide-item(href='#')  Spiritual
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-pipette
                            span.side-menu__label Tx/Med/DME
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')  Current 
                            li
                                a.slide-item(href='#')  History
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-document-text
                            span.side-menu__label IDG

                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-document
                            span.side-menu__label POC
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')  POC List 
                            li
                                a.slide-item(href='#')  Summary
                            
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-
                            span.side-menu__label Issues/Outcome
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')  Current 
                            li
                                a.slide-item(href='#')  History
                    
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Physician
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')  CTI 
                            li
                                a.slide-item(href='#')  MD F2F/Visit Notes

                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-arrow-move-outline
                            span.side-menu__label Visit Notes

                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Health Aide
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                //show only if the doctor / admin in login
                                a.slide-item(href='#')  Assignment 
                            li
                                a.slide-item(href='#')  Visits
                    
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Volunteer
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                //show only if the doctor / admin in login
                                a.slide-item(href='#')  Assignment 
                            li
                                a.slide-item(href='#')  Visits
                    
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Discharge
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                //show only if the doctor / admin in login
                                a.slide-item(href='#')  Plan 
                            li
                                a.slide-item(href='#')  Death/Disposal
                            li
                                a.slide-item(href='#')  Summary
                    
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Bereavement
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                //show only if the doctor / admin in login
                                a.slide-item(href='#') Initial Assessment 
                            li
                                a.slide-item(href='#') Bereavement POC
                            li
                                a.slide-item(href='#') Post-Death Assessment 
                            li
                                a.slide-item(href='#') Bereavement Letters 
                            li
                                a.slide-item(href='#') Post-Death Support
                    
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-th-large-outline
                            span.side-menu__label Compliance
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                //show only if the doctor / admin in login
                                a.slide-item(href='#') LCD Eligibility 
                            li
                                a.slide-item(href='#') HIS Admission
                            li
                                a.slide-item(href='#') HIS Discharged 
                            li
                                a.slide-item(href='#') Decline Status 
                    
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-arrow-move-outline
                            span.side-menu__label Incident/Occurence
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-arrow-move-outline
                            span.side-menu__label Care Overview 
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-arrow-move-outline
                            span.side-menu__label Monthly Schedule

            
                    
                            
                    