extends ../hfusion_layout.pug 


block content 
    .card 
        .card-header 
            h4.card-title 
            | Dashboard  
            .card-options 

        .card-body
            h4 Sample   
        .card-footer