extends ../hfusion_layout.pug 


block content 
    .row 
        .col-sm-12 
            .card 
                .card-header 
                    h4.card-title 
                    | Patient List  
                    .card-options 
                        a(href="/hfusion/add-new-patient").btn.btn-primary.btn-sm
                            i.fa.fa-plus 
                            | ADD NEW PATIENT

                .card-body

                .card-footer