/* your styles go here */
.fixed-navbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 111;
}

.fixed-sidebar{
    position: fixed;
    z-index: 111;
}

/* Sign Menu */
#docu_right_menu{
    position: fixed;
    top: 10;
    right: 0;
    z-index: 222;
    padding: 10px;
    border: solid 1px black;
}

/*Close Sign*/
.closeSing{ 
    float: right;
    display:none; 
}
.sign:hover .closeSing{ display:block }

/* Loading Status */
.fusion-loading{
    display:    none;
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2 ) 
                url('/images/loading/heartbeat.gif') 
                50% 5% 
                no-repeat;
}

body.fusion .fusion-loading{
    overflow: hidden;
    display: block;
}