extends ../../hfusion_layout

block content    
    .card 
        .card-header
            h4.card-title
                i.fa.fa-plus 
                | Add/Update Nursing Assessment
            .card-options 
                .card-options 
                        a(href="/patient/nursing-assessment/"+patientinfo[0].patient_no).btn.btn-secondary.btn-sm
                            i.fa.fa-list 
                            | Nursing Assessment List

        .card-body
            form(action="/patient/nursing-assessment/"+patientinfo[0].patient_no+"/save-update-nursing-assessment?assessmentno="+ assessmentno, method="post")
                
                .row.bg-info
                    .col-sm-3 
                        label(for="enteredby") Entered By 
                        input.ipt-sm(type="text" name="enteredby" id="enteredby")
                    .col-sm-3
                        label(for="staff") Staff Assign 
                        select.ipt-sm.select2(name="staff")
                            option(value="") Select-->
                    .col-sm-3
                        label(for="discipline") Discipline  
                        select.ipt-sm.select2(name="discipline")
                            option(value="") Select-->
                .row.bg-info
                    .col-sm-3 
                        label(for="type") Type Of 
                        select.ipt-sm(name="type")
                            option(value="") Select-->
                            option(value="inperson") In-Person 
                            option(value="Telephone") Telephone 

                    .col-sm-3
                        label(for="visit") Visit 
                        select.ipt-sm(name="visit")
                            option(value="") Select-->
                            option(value="scheduled") Scheduled 
                            option(value="unscheduled") Unscheduled 
                            option(value="prn") PRN 
                    .col-sm-3
                        label(for="specify") Specify 
                        input(type="text" name="specify").ipt-sm
                    .col-sm-3
                        label(for="reasonforas") Reason For Assessment 
                        select.ipt-sm(name="reasonforas")
                            option(value="") Select--> 
                            option(value="update") Update 
                            option(value="recert") Re-Cert 
                .row.bg-info
                    .col-sm-2 
                        label(for="visitdate") Visit Date
                        input(type="text" name="visitdate").fc-datepicker.ipt-sm
                    .col-sm-2
                        label(for="timein") Time In
                        input(type="text" name="timein").ipt-sm.timeFormat
                    .col-sm-2
                        label(for="timeout") Time Out
                        input(type="text" name="timeout").ipt-sm.timeFormat
                    .col-sm-2
                        label(for="duration") Duration 
                        input(type="text" name="duration" readonly).ipt-sm
                
                br  
                //- PAIN SCREENING=============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Pain Screening 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#painPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#painPanel
                        include sub-form/pain_screening


                //- VITALS & MEASUREMENTS======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Vitals & Measurements 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#vitalsMeasurePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#vitalsMeasurePanel
                        include sub-form/vitals_measurement

                
                
                //- COMMUNICATION & OTHER FACTORS =============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Communications & Other Factors 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#commufactorsPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#commufactorsPanel
                        include sub-form/communication_others_factors 
                        
                                   


                //- PRIMARY / SECONDARY DIAGNOSIS & COMORBODITIES =============
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Primary / Secondary Diagnosis & Comorbidities
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#diagcomorPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#diagcomorPanel   
                        include sub-form/diagnosis_disease 
                        

                //- KPS/PPS/FAST/NYHA Score effecting ADL =====================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | KPS/PPS/FAST/NYHA Score effecting ADL? 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#adlPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#adlPanel
                        include sub-form/kps_pps_adl 
                    

                //- NATURE & CONDITIONS OF TERMINAL ILLNESS / LCD ELIGIBILITY
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Nature & Conditions of Termininal Illness / LCD Eligibility 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#eligibilityPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#eligibilityPanel
                        p Pain Panel


                //- BODY SYSTEM (head-to-toe) ===================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Body System (Head-to-Toe) 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#bodysysPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#bodysysPanel
                       
                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Neurological/Mental/Sensory
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#nms', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #nms.expanel-body.collapse
                                include sub-form/body-system/neurological

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                |   Cardiovascular
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#cardio', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #cardio.expanel-body.collapse
                                include sub-form/body-system/cardiovascular

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Respiratory
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#resp', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #resp.expanel-body.collapse
                                include sub-form/body-system/respiratory

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Immunological/Infection
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#immu', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #immu.expanel-body.collapse
                        
                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Gastro-Intestinal
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#gastro', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #gastro.expanel-body.collapse
                        
                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Nutrition
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#nutri', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #nutri.expanel-body.collapse

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Endocrine
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#endocrine', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #endocrine.expanel-body.collapse

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Ganitourinary Reproductive
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#gr', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #gr.expanel-body.collapse

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Sleep Rest
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#sleep', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #sleep.expanel-body.collapse

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Musculo Skeletal
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#muscu', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #muscu.expanel-body.collapse
                        
                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Integumentary - Skin
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#integskin', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #integskin.expanel-body.collapse

                        .expanel.expanel-info
                            .expanel-heading.clearfix
                                | Imminently Dying
                                .float-right
                                    button.btn.btn-sm.btn-success.collapsed(type='button', data-toggle='collapse', data-target='#idying', aria-expanded='false', aria-controls='collapse03')
                                        i.fa.fa-bars
                            #idying.expanel-body.collapse


                                


                //- ENVIRONMENTAL SAFETY ========================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Environmental / Safety 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#envisafetyPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#envisafetyPanel
                        


                //- PERSONAL CARE & SUPPORT NEEDS ===============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Personal Care & Support Needs 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#personalneedsPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#personalneedsPanel
                        p Pain Panel


                //- TEACHING NEEDS ==============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Teaching Needs 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#teachingPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#teachingPanel
                        p Pain Panel

                //- PYSCHOSOCIAL SCREENING ======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Psychosocial Screening 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#psychosocialPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#psychosocialPanel
                        p Pain Panel


                //- SPIRITUAL SCREENING =========================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Spiritual Screening (Required HIS)
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#spiritualPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#spiritualPanel
                        p Pain Panel


                //- BEREAVEMENT SCREENING =======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Bereavement Screening
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#bereavePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#bereavePanel
                        p Pain Panel

                //- REFERRAL ====================================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Referral
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#referralPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#referralPanel
                        p Pain Panel



                //- SUPERVISORY NOTES (If Applicable) ===========================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Supervisory Notes (If Applicable)
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#supervisoryPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#supervisoryPanel
                        p Pain Panel
                

                //- CARE PROVIDER ===============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Care Provider
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#careproPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#careproPanel
                        p Pain Panel


                //- NARRATIVE & DISEASE TRAJECTORY ==============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Narrative & Disease Trajectory
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#narrativePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#narrativePanel
                        p Pain Panel

                //- ADMISSION ORDER =============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Amission Order
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#admissionPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#admissionPanel
                        p Pain Panel


                
                .right-button-container
                    button(type="submit").btn.btn-success.btn-md 
                        i.fa.fa-save 
                        | Save
                    | 
                    //- button.btn.btn-danger.btn-md 
                    //-     i.fa.fa-trash 
                    //-     | DELETE