extends ../../hfusion_layout

block content    
    .card 
        .card-header
            h4.card-title
                i.fa.fa-plus 
                | Add/Update Nursing Assessment
            .card-options 
                .card-options 
                        a(href="/patient/nursing-assessment/"+patientinfo[0].patient_no).btn.btn-secondary.btn-sm
                            i.fa.fa-list 
                            | Nursing Assessment List

        .card-body
            form(action="/patient/nursing-assessment/"+patientinfo[0].patient_no+"/save-update-nursing-assessment" method="post")
                
        
                .row.bg-info
                    .col-sm-3 
                        label(for="enteredby") Entered By 
                        input.ipt-sm(type="text" name="enteredby")
                    .col-sm-3
                        label(for="staff") Staff Assign 
                        select.ipt-sm.select2(name="staff")
                            option(value="") Select-->
                    .col-sm-3
                        label(for="discipline") Discipline  
                        select.ipt-sm.select2(name="discipline")
                            option(value="") Select-->
                .row.bg-info
                    .col-sm-3 
                        label(for="typeof") Type Of 
                        select.ipt-sm(name="typeof")
                            option(value="") Select-->
                            option(value="inperson") In-Person 
                            option(value="Telephone") Telephone 

                    .col-sm-3
                        label(for="visit") Visit 
                        select.ipt-sm(name="visit")
                            option(value="") Select-->
                            option(value="scheduled") Scheduled 
                            option(value="unscheduled") Unscheduled 
                            option(value="prn") PRN 
                    .col-sm-3
                        label(for="specify") Specify 
                        input(type="text" name="specify").ipt-sm
                    .col-sm-3
                        label(for="reasonforas") Reason For Assessment 
                        select.ipt-sm(name="reasonforas")
                            option(value="") Select--> 
                            option(value="update") Update 
                            option(value="recert") Re-Cert 
                .row.bg-info
                    .col-sm-2 
                        label(for="visitdate") Visit Date
                        input(type="text" name="visitdate").fc-datepicker.ipt-sm
                    .col-sm-2
                        label(for="timein") Time In
                        input(type="text" name="timein").ipt-sm.timeFormat
                    .col-sm-2
                        label(for="timeout") Time Out
                        input(type="text" name="timeout").ipt-sm.timeFormat
                    .col-sm-2
                        label(for="duration") Duration 
                        input(type="text" name="duration" disabled).ipt-sm
                
                br  
                //- PAIN SCREENING=============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Pain Screening 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#painPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#painPanel
                        p 
                            | Is the patient alert, oriented and able to verbalize pain? 
                            label(for="pain")
                                input(type="radio" name="pain")
                                |   Yes
                            | 
                            label(for="pain")
                                input(type="radio" name="pain") 
                                |   No

                        p 
                            | Is patient uncomfortable because of pain? 
                            label(for="pain1")
                                input(type="radio" name="pain1")
                                |   Yes 
                            | 
                            label(for="pain1")
                                input(type="radio" name="pain1")
                                |   No    
                            | 
                            label(for="pain1")
                                input(type="radio" name="pain1")
                                |   Unwilling 
                            |   
                            label(for="pain1")
                                input(type="radio" name="pain1")
                                |   Unable    
                            | 
                            a(href="#")
                                |   OPEN PAIN ASSESSMENT
                        
                        p
                            u Answer applicable question on Pain Assessment, even if no pain reported. (Required for HIS)

                        




                //- VITALS & MEASUREMENTS======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Vitals & Measurements 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#vitalsMeasurePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#vitalsMeasurePanel
                        .row
                            .col-sm-2 
                                label(for="temp") Temp 
                                input(type="text" name="temp").ipt-sm
                            .col-sm-2
                                label(for="pulse") Pulse 
                                input(type="text" name="pulse").ipt-sm
                            .col-sm-2 
                                label(for="resp") Resp 
                                input(type="text" name="resp").ipt-sm
                            .col-sm-2
                                label(for="bp") BP 
                                input(type="text" name="bp").ipt-sm
                            .col-sm-2 
                                label(for="height") Ht(inch) 
                                input(type="text" name="height").ipt-sm
                            .col-sm-2
                                label(for="weigth") Wt(lbs) 
                                input(type="text" name="weigth").ipt-sm
                            .col-sm-2
                                label(for="bmi") BMI
                                input(type="text" name="bmi" readonly).ipt-sm
                            .col-sm-2 
                                label(for="mac") Mac(cm) 
                                input(type="text" name="mac").ipt-sm
                            .col-sm-2 
                                label(for="sat02") 02 Sat
                                input(type="text" name="sat02").ipt-sm
                
                
                //- COMMUNICATION & OTHER FACTORS =============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Communications & Other Factors 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#commufactorsPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#commufactorsPanel
                        
                        .panel.panel-primary
                            .tab-menu-heading
                                .tabs-menu1
                                    // Tabs
                                    ul.nav.panel-tabs
                                        li
                                            a.active(href='#patient', data-toggle='tab') Patient
                                        li
                                            a(href='#pcg', data-toggle='tab') PCG 
                                        li
                                            a(href='#envi', data-toggle='tab') Environmental
                                        li
                                            a(href='#mobility', data-toggle='tab') Mobility
                                        li
                                            a(href='#adl', data-toggle='tab') ADL Assessment
                                        li
                                            a(href='#dme', data-toggle='tab') DME Device
                                        li
                                            a(href='#iv', data-toggle='tab') IV Assessment
                                        
                            .panel-body.tabs-menu-body
                                .tab-content
                                    #patient.tab-pane.active
                                        .row 
                                            .col-md-8
                                                p 
                                                | (If patient is unable to answer, PCG can answer)
                                                input(type="text" name="patient_01").ipt-sm
                                            .col-sm-4 
                                                label(for="patient_02")
                                                    input(type="checkbox" name="patient_02") 
                                                    | No Limitations
                                        hr 
                                        .row 
                                            .col-md-8 
                                                | Site of Service at Admission:
                                            .col-md-4
                                                .form-group.has-success
                                                    select.ipt-sm
                                                        option(value="") Required for HIS--> 
                                        .row  
                                            .col-md-8
                                                | Admitted From (Immediately preceeding admission, where was the Patient?)
                                            .col-md-4
                                                .form-group.has-success
                                                    select.ipt-sm
                                                        option(value="") Required for HIS--> 
                                        .row 
                                            .col-md-8 
                                                | CPR Preference(DNR/Code Status)?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm
                                                        option(value="") Required for HIS--> 
                                        .row 
                                            .col-md-8 
                                                | Wants Other Life-Sustaining Treatment Preferences (Other than CPR)
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm 
                                                        option(value="") Required for HIS-->  
                                        .row 
                                            .col-md-8   
                                                | Does Pt/Family want to avoid hospitalization?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm.aler-success
                                                        option(value="") Select-->
                                        .row 
                                            .col-md-8 
                                                | Any special event/ desire for patient before dying?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm 
                                                        option(value="") Select--> 
                                        .row 
                                            .col-md-8 
                                                | Able to understand and participate in own care?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm  
                                                        option(value="") Select--> 
                                        .row 
                                            .col-md-8 
                                                | Is there a need for an interpreter?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm  
                                                        option(value="") Select--> 
                                        .row 
                                            .col-md-8 
                                                | If Yes, offer of interpreter
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm  
                                                        option(value="") Select--> 
                                        .row 
                                            .col-md-8 
                                                | Has Patient/Spouse served in the military?
                                            .col-md-4
                                                .form-group.has-success 
                                                    select.ipt-sm  
                                                        option(value="") Select--> 

                                        .row 
                                            .col-md-8 
                                                | Is Patient able to safely administer meds?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm  
                                                        option(value="") Select--> 
                                        
                                        .row 
                                            .col-md-8 
                                                | If No, who is able to safely administer meds to Patient?
                                            .col-md-4 
                                                .form-group.has-success
                                                    select.ipt-sm  
                                                        option(value="") Select--> 
                                                    input(type="text" placeholder="Others").ipt-sm
                                        
                                        
                                    #pcg.tab-pane
                                        p TAB 2
                                    #envi.tab-pane
                                        p TAB 3
                                    #mobility.tab-pane
                                        p TAB 4
                                    #adl.tab-pane
                                        p TAB 5
                                    #dme.tab-pane
                                        p TAB 6
                                    #iv.tab-pane
                                        p TAB 7
                               


                //- PRIMARY / SECONDARY DIAGNOSIS & COMORBODITIES =============
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Primary / Secondary Diagnosis & Comorbidities
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#diagcomorPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#diagcomorPanel
                        p Pain Panel


                //- KPS/PPS/FAST/NYHA Score effecting ADL =====================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | KPS/PPS/FAST/NYHA Score effecting ADL? 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#adlPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#adlPanel
                        p Pain Panel


                //- NATURE & CONDITIONS OF TERMINAL ILLNESS / LCD ELIGIBILITY
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Nature & Conditions of Termininal Illness / LCD Eligibility 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#eligibilityPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#eligibilityPanel
                        p Pain Panel


                //- BODY SYSTEM (head-to-toe) ===================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Body System (Head-to-Toe) 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#bodysysPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#bodysysPanel
                        p Pain Panel


                //- ENVIRONMENTAL SAFETY ========================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Environmental / Safety 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#envisafetyPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#envisafetyPanel
                        p Pain Panel


                //- PERSONAL CARE & SUPPORT NEEDS ===============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Personal Care & Support Needs 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#personalneedsPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#personalneedsPanel
                        p Pain Panel


                //- TEACHING NEEDS ==============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Teaching Needs 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#teachingPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#teachingPanel
                        p Pain Panel

                //- PYSCHOSOCIAL SCREENING ======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Psychosocial Screening 
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#psychosocialPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#psychosocialPanel
                        p Pain Panel


                //- SPIRITUAL SCREENING =========================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Spiritual Screening (Required HIS)
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#spiritualPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#spiritualPanel
                        p Pain Panel


                //- BEREAVEMENT SCREENING =======================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Bereavement Screening
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#bereavePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#bereavePanel
                        p Pain Panel

                //- REFERRAL ====================================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Referral
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#referralPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#referralPanel
                        p Pain Panel



                //- SUPERVISORY NOTES (If Applicable) ===========================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Supervisory Notes (If Applicable)
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#supervisoryPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#supervisoryPanel
                        p Pain Panel
                

                //- CARE PROVIDER ===============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Care Provider
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#careproPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#careproPanel
                        p Pain Panel


                //- NARRATIVE & DISEASE TRAJECTORY ==============================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Narrative & Disease Trajectory
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#narrativePanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#narrativePanel
                        p Pain Panel

                //- ADMISSION ORDER =============================================
                .expanel.expanel-default   
                    .expanel-heading.clearfix 
                        | Amission Order
                        .float-right 
                            button.btn.btn-sm.btn-info.collapsed(type='button', data-toggle='collapse', data-target='#admissionPanel', aria-expanded='false', aria-controls='collapse06')
                                i.fa.fa-bars

                    .expanel-body.collapse#admissionPanel
                        p Pain Panel


                
                .right-button-container
                    button(type="submit").btn.btn-success.btn-md 
                        i.fa.fa-save 
                        | Save
                    | 
                    //- button.btn.btn-danger.btn-md 
                    //-     i.fa.fa-trash 
                    //-     | DELETE