extends ../../hfusion_layout

block content
    .card 
        .card-header
            h4.card-title 
                | Nursing Assessment
            .card-options 
                .card-options 
                        a(href="/patient/nursing-assessment/add-update-nursingAssessment/"+patientinfo[0].patient_no).btn.btn-secondary.btn-sm
                            i.fa.fa-plus 
                            | Add New Assessment

        .card-body
        