.navbar.navbar-fixed-top
    .navbar-inner
        .container
            // logo
            a.brand.logo(href='index.html')
                img(src='/serenity/assets/img/hospicefusion.png', alt='')
            // end logo
            // top menu
            .navigation
                nav
                    ul.nav.topnav
                        li.dropdown.active
                            a(href='index.html') Home
                        li.dropdown
                            a(href='#') Features
                            ul.dropdown-menu
                                li
                                    a(href='#') Patient Chart
                                li
                                    a(href='#') Physician Order
                                li
                                    a(href='#') Hospice Item Set (HIS)
                                
                        li
                            a(href='#') Contact
                       
                        li
                            a(href='#')
                                | Login     
                                i.icon-circled.icon-signin