.navbar.navbar-fixed-top
    .navbar-inner
        .container
            // logo
            a.brand.logo(href='/')
                img(src='/serenity/assets/img/hospicefusion.png', alt='')
            // end logo
            // top menu
            .navigation
                nav
                    ul.nav.topnav
                        li.dropdown(class=(isHome)? 'active' : '')
                            a(href='/') Home
                        li(class=(isAbout)? 'active' : '')
                            a(href='/about') About
                        li.dropdown
                            a(href='#') Features
                            ul.dropdown-menu
                                li
                                    a(href='#') Patient Chart
                                li
                                    a(href='#') Physician Order
                                li
                                    a(href='#') Hospice Item Set (HIS)
                                
                        li(class=(isContact)? 'active' : '')
                            a(href='/contact') Contact
                       
                        li(class=(isLogin)? 'active' : '')
                            a(href='/login')
                                | Login     
                                i.icon-circled.icon-signin