.row 
    .col-sm-2 
        label(for="kps") KPS 
        select.ipt-sm 
            option(value="") Select-->
    .col-sm-10
        .card 
            .card-body  
                p sample
.row 
    .col-sm-2 
        label(for="pps") PPS 
        select.ipt-sm 
            option(value="") Select-->
    .col-sm-10
        .card 
            .card-body  
                p sample
.row 
    .col-sm-2
        label(for="fast") FAST 
        select.ipt-sm 
            option(value="") Select-->
    .col-sm-10 
        .card 
            .card-body  
                p sample

.row 
    .col-sm-2
        label(for="nyha") NYHA 
        select.ipt-sm 
            option(value="") Select-->
    .col-sm-10 
        .card 
            .card-body  
                p sample
