.row
    .col-sm-2 
        label(for="temp") Temp 
        input(type="text" name="temp").ipt-sm
    .col-sm-2
        label(for="pulse") Pulse 
        input(type="text" name="pulse").ipt-sm
    .col-sm-2 
        label(for="resp") Resp 
        input(type="text" name="resp").ipt-sm
    .col-sm-2
        label(for="bp") BP 
        input(type="text" name="bp").ipt-sm
    .col-sm-2 
        label(for="height") Ht(inch) 
        input(type="text" name="height").ipt-sm
    .col-sm-2
        label(for="weigth") Wt(lbs) 
        input(type="text" name="weigth").ipt-sm
    .col-sm-2
        label(for="bmi") BMI
        input(type="text" name="bmi" readonly).ipt-sm
    .col-sm-2 
        label(for="mac") Mac(cm) 
        input(type="text" name="mac").ipt-sm
    .col-sm-2 
        label(for="sat02") 02 Sat
        input(type="text" name="sat02").ipt-sm