.sidebar.sidebar-style-2
	.sidebar-wrapper.scrollbar.scrollbar-inner
		.sidebar-content
			ul.nav.nav-primary
				li.nav-item(class=pending)
					a(href='/docusignv2')
						i.fas.fa-edit
						p Pendig
				li.nav-item(class=signed)
					a(href='/docusignv2/signed-docs')
						i.fas.fa-pencil-alt
						p Signed
				