extends ../docusign_layoutV2.pug 


block content

    .row  
        .col-sm-12  
            .card
                .card-header 
                    .row
                        .col-sm-3
                            h4 Pending Documents
                        
                        .col-sm-6
                            form(action="/docusignv2/upload-file" method="post" encType="multipart/form-data")
                                .form-group
                                    .input-icon
                                        input(type="file" name="file").form-control
                                        span.input-icon-addon
                                            button.btn.btn-primary.btn-sm 
                                                i.fa.fa-upload Upload
                         
                        .col-sm-3(align="right")
                            if(accesslvl == "admin" || accesslvl == "doctor")
                                a(role="button" href="/docusignv2/signed-all").btn.btn-success.btn-sm.right
                                    i.fa.fa-pencil Sign All

                .card-body 
                    table#docu-table-list.table.table-stripped.table-hover 
                        thead 
                            tr  
                                th ID
                                th Filename 
                                th(style="width:150px;") Options
                        tbody
                            each doc in doclist
                                tr 
                                    td=doc.doc_id
                                    td=doc.doc_filename 
                                    td 
                                        a(href="/docusignv2/open-document?filename="+ doc.doc_name +"&signed="+doc.doc_sign+"&filepath="+doc.doc_path+"&name="+doc.doc_filename).btn.btn-primary.btn-sm.btn-round 
                                            i.fa.fa-edit
                                        a(href="/docusignv2/delete-doc?filename="+ doc.doc_name + "&path="+doc.doc_path).btn.btn-danger.btn-sm.btn-round 
                                            i.fa.fa-trash

                .card-footer
                    
