#sidebar.sidebar.py-3
    .text-gray-400.text-uppercase.px-3.px-lg-4.py-4.font-weight-bold.small.headings-font-family Documents
    ul.sidebar-menu.list-unstyled
        li.sidebar-list-item
            a.sidebar-link.text-muted.active(href='/docusign')
                i.o-home-1.mr-3.text-gray
                span Pending Docs
        li.sidebar-list-item
            a.sidebar-link.text-muted(href='/docusign/signed-docs')
                i.o-sales-up-1.mr-3.text-gray
                span Signed Docs