extends ../docusign_layout.pug


block content

    .row  
        .col-sm-12  
            .card
                .card-header 
                    .row
                        .col-sm-6
                            h4 Singed Documents
            
                    
                .card-body 
                    table#docu-table-list.table.table-stripped.table-hover 
                        thead 
                            tr  
                                th Filename 
                                th(style="width:300px;") Options
                        tbody
                            each doc in data
                                tr 
                                    td=doc.doc_filename 
                                    td 
                                        a(href="/docusign/open-file?filename="+doc.doc_name).btn.btn-primary.btn-sm.btn-round 
                                            | Open
                                        a(href="/docusign/open-document?filename="+ doc.doc_name +"&signed="+doc.doc_sign+"&filepath="+doc.doc_path).btn.btn-primary.btn-sm.btn-round 
                                            | Edit
                                        a(href="/docusign/delete-doc?filename="+ doc.doc_name + "&path="+doc.doc_path).btn.btn-danger.btn-sm.btn-round 
                                            | Delete